.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  text-align: center;
  transition: 0.5s;
  background-size: 200%;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(
    to right,
    #003cc5 0%,
    #0b63f6 51%,
    #003cc5 100%
  );
}

button:hover {
  background-position: right center;
}
